<div class="content">

    <!-- 首页展示 -->
    <div class="mihui-index">
        <div class="mihui-logo">
            <img src="../image/index/logo.png" alt="">
        </div>

        <div class="mihui-tool">
            <img src="../image/index/tool.png" alt="">
        </div>

        <div class="mihui-speed">
            <img src="../image/index/speed.png" alt="">
        </div>

        <a id="register" class="position"></a>

        <div class="register">

            <div class="user-name" id="userNameBox" style="display: none;">
                <input type="text"
                       id="userName"
                       placeholder="请输入姓名">
            </div>

            <div class="phone">
                <input type="tel"
                       id="phoneNum"
                       maxlength="11"
                       placeholder="请输入手机号" >
            </div>

            <div class="code clearfix" id="code" style="display: none;">
                <input class="verify-code"
                       type="tel"
                       id="verifyCode"
                       maxlength="6"
                       placeholder="请输入验证码">
                <input type="button"
                       id="codeBtn"
                       value="获取验证码">
            </div>

            <div class="login-on">
                <div class="button" id="loginOn">
                </div>
            </div>

            <div id="toast" class="toast"></div>
        </div>

        <div class="mihui-equity">
            <div class="box">
                <div class="title">
                    <img src="../image/index/equity.png" alt="">
                </div>
                <p><span>1对1</span>真人VIP教程</p>
                <p><span>3天</span>不限次免费花型设计</p>
                <p><span>5次</span>免费下载额度</p>
                <p>(可下载花型商城1张或自设计5张)</p>
            </div>
        </div>
    </div>

    <!-- 关于米绘 -->
    <div class="mihui-about">

        <div class="title">
            <img src="../image/index/mihui-about-title.png" alt="">
        </div>

        <div class="mihui-label">
            <img src="../image/index/mihui-about-label.png" alt="">
        </div>

        <ul class="introduce">
            <li>
                <span class="point"></span>
                一位设计师用米绘每天能做20个以上花型开发
            </li>
            <li>
                <span class="point"></span>
                万余张爆品花型源自于意大利、英国、国内知名原创工作室
            </li>
            <li>
                <span class="point"></span>
                二十万高清花型素材免费提供
            </li>
            <li>
                <span class="point"></span>
                每周以5000张的速度上传更新素材
            </li>
            <li>
                <span class="point"></span>
                万余种组合开发设计方案, 最慢以6秒每张速度自动出图
            </li>
            <li>
                <span class="point"></span>
                站内素材类型: <i>花卉</i>、<i>热带风情</i>、<i>动物</i>、<i>超大花</i>、<i>水果与花</i>、<i>大花朵</i>、<i>小碎花</i>、<i>叶子</i>、<i>丛林</i>、<i>几何图形</i>、<i>波点</i>、<i>格子</i>、<i>条纹</i>、<i>迷彩</i>、<i>抽象艺术</i>、<i>动物纹理</i>、<i>豹纹</i>、<i>民族风</i>、<i>佩兹利纹样</i>、<i>海洋</i>、<i>卡通</i>等数十个类型
            </li>
            <li>
                <span class="point"></span>
                <span>
                        站内素材风格: <i>水彩画</i>、<i>水粉画</i>、<i>油画</i>、<i>国画</i>、<i>写实摄影</i>、<i>线描</i>、<i>电脑绘画</i>、<i>色块</i>、<i>刺绣</i>、<i>彩铅</i>、<i>卡通漫画</i>、<i>特殊技法</i>等十余种风格
                   </span>
            </li>
        </ul>
    </div>

    <!-- 用户评价 -->
    <div class="mihui-evaluate">
        <div class="title">
            <img src="../image/index/mihui-evaluate-title.png" alt="">
        </div>

        <div class="evaluate item1">
            <img src="../image/index/evaluate1.png" alt="">
        </div>

        <div class="evaluate item2">
            <img src="../image/index/evaluate2.png" alt="">
        </div>

        <div class="evaluate item3">
            <img src="../image/index/evaluate3.png" alt="">
        </div>

        <div class="evaluate item4">
            <img src="../image/index/evaluate4.png" alt="">
        </div>

        <div class="evaluate item5">
            <img src="../image/index/evaluate5.png" alt="">
        </div>

        <div class="evaluate item6">
            <img src="../image/index/evaluate6.png" alt="">
        </div>
    </div>

    <!-- 常见问题解答 -->
    <div class="mihui-answer">
        <div class="title">
            <img src="../image/index/mihui-answer.png" alt="">
        </div>

        <div class="mihui-answer-list">
            <div class="answer">Q1：不会用怎么办？</div>
            <div class="problem">A1：您在线购买后，10分钟内就会有1对1客服人员加您微信，手把手教您用米绘。同时，米绘还有在线直播间，米绘设计师在直播间手把手教您用米绘。</div>
        </div>

        <div class="mihui-answer-list">
            <div class="answer">Q2：我用米绘做的图会不会被你们泄露？</div>
            <div class="problem">A2：不会，您的账号只有您自己登陆，其他第三方都不能接触到您的元素和设计方案。</div>
        </div>

        <div class="mihui-answer-list">
            <div class="answer">Q3：我的账号能不能给别人用？</div>
            <div class="problem">A3：可以的，只要输入正确的账号和密码任何人都可以登陆米绘软件。</div>
        </div>

        <div class="mihui-answer-list">
            <div class="answer">Q4：要是买了没有用，能不能退款？</div>
            <div class="problem">A4：使用期内不满意无条件退款。我们是一家合法合规的创业企业，遵守国家法律法规，注重企业形象。</div>
        </div>

        <div class="mihui-answer-list">
            <div class="answer">Q5：现在买的米绘只能用3天，过了3天怎么办？</div>
            <div class="problem">A5：如果您满意，1对1客服人员，会在3天内向您推荐米绘年会会员产品，持续为您提供优质服务。如果您不满意，3天后您账户下的数据将自动清空，系统将会把您上传的文件、做的设计完全、彻底删除。</div>
        </div>

        <div class="mihui-answer-list">
            <div class="answer">Q6：我买米绘做图，会不会被我的客户 知道？</div>
            <div class="problem">A6：不会，我们和您一样痛恨泄露客户隐私。让您放心用米绘来做原创设计，继续卖原创花型作品</div>
        </div>
    </div>

    <!-- 立即注册 -->
    <div class="mihui-index">
        <div class="register">
            <div class="login-on">
                <a href="#register" id="loginOnBottom" class="button"></a>
            </div>
        </div>
    </div>

    <!-- 添加客服 -->
    <div class="mihui-footer">
        <div class="title" id="scan" style="display: none;">扫一扫&nbsp;添加&nbsp;【米绘客服】</div>
        <div class="image" id="qrCode" style="display: none;">
            <img src="../image/QR-code.png" alt="">
        </div>
        <div class="url">
            WWW.MIHUIAI.COM
        </div>
    </div>

    <!-- 遮罩层 -->
    <div class="guide" id="mask">
        <div class="box">
            <div class="mask-content">
                <div class="mask-title">
                    是否支付成功?
                </div>
                <div class="mask-footer clearfix">
                    <div class="fl" id="pay-btn1">否</div>
                    <div class="fl" id="pay-btn2">是</div>
                </div>
            </div>
        </div>
    </div>
</div>

