<div class="content" id="content">

    <div class="icon-success">
        <img src="../image/pay/pay_success.png" alt="">
    </div>

    <div class="login-tip">
        请在&nbsp;<span>PC端</span>&nbsp;登入米绘
    </div>

    <div class="login-info">
        <p>
            <span>网址:</span>
            <span class="value">www.mihuiai.com</span>
        </p>
        <p>
            <span>账号:</span>
            <span class="value" id="phoneNumber">加载中...</span>
        </p>
        <p>
            <span>密码:</span>
            <span class="value">123456</span>
        </p>
    </div>

    <div class="login-server">
        <img src="../image/QR-code.png" alt="">
    </div>

    <div class="login-server-tip">
        扫一扫&nbsp;添加&nbsp;【米绘客服】
    </div>

    <div class="save-image">
        <div class="button" id="saveImage">长按保存图片</div>
    </div>

</div>
